<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Source</title>
  </head>

  <body>

    <p>
      This service is free software licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero GPL version 3.0</a> or later.
      The source code is available at <a href="https://gitlab.opencode.de/umwelt-info">OpenCoDE</a>.
      A Software BOM based on the <a href="https://cyclonedx.org">Cyclone DX specification</a> is available <a href="/bom.json">here</a>.
    </p>

    <p>
      This service instance was built from <a href="https://gitlab.opencode.de/umwelt-info/metadaten/-/commit/{{commit_hash}}">commit {{commit_hash}}</a>.
    </p>

    <p>
      This service uses free gazetteer data provided by the <a href="https://www.geonames.org">GeoNames database</a> under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.
    </p>

    <p>
      This service uses free dictionary data provided by the <a href="https://kaikki.org/dictionary/German/">kaikki.org project</a> which is based on <a href="https://de.wiktionary.org/wiki/Wiktionary:Hauptseite">Wiktionary data</a> released under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 license</a>.
    </p>

    <p>
      This service uses the official list of German municipalities provided by <a href="https://www.destatis.de/DE/Themen/Laender-Regionen/Regionales/Gemeindeverzeichnis/_inhalt.html">Destatis' GV-ISys</a>.
    </p>

    <p>
      This service uses the topographic map TK25 provided by <a href="https://gdz.bkg.bund.de/index.php/default/digitale-geodaten/blatt-und-kacheluebersichten/blattschnitt-der-topographischen-karte-1-25-000-tk25-b25.html">GeoBasis-DE / BKG (2023)</a> released under the <a href="https://www.govdata.de/dl-de/by-2-0">DL-DE->BY-2.0 license</a>.
    </p>

    <p>
      This service uses the <a href="https://gdz.bkg.bund.de/index.php/default/digitale-geodaten/verwaltungsgebiete/verwaltungsgebiete-1-250-000-stand-01-01-vg250-01-01.html">VG250 dataset</a> provided by <a href="https://gdz.bkg.bund.de/">GeoBasis-DE / BKG (2023)</a> under the <a href="https://www.govdata.de/dl-de/by-2-0">DL-DE->BY-2.0 license</a>.
    </p>

    <p>
      This service uses structured data from <a href="https://www.wikidata.org">WikiData</a> provided by the <a href="https://www.wikimedia.org/">Wikimedia project</a> under the <a href="https://creativecommons.org/about/cc0">CC0 license</a>.
    </p>

    <p>
      This service uses <a href="https://www.openstreetmap.org/">OpenStreetMap data</a> under the <a href="https://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License (ODbL)</a> provided by the  <a href="https://osmfoundation.org/">OpenStreetMap Foundation (OSMF)</a>. Any issues with the OSM map can be reported under <a href="https://www.openstreetmap.org/fixthemap">https://www.openstreetmap.org/fixthemap</a>.
    </p>

    <p>
      This service uses the <a href="https://sdi.eea.europa.eu/catalogue/srv/eng/catalog.search#/metadata/bce2c4e0-0dad-4c42-9ea8-a0b82607d451">WISE WFD Reference Spatial Datasets</a> under the terms of the <a href="https://www.gesetze-im-internet.de/geozg/">Gesetz über den Zugang zu digitalen Geodaten</a>.
    </p>

    <p>
      This service uses <a href="https://github.com/swagger-api/swagger-ui">Swagger UI</a> provided <a href="https://swagger.io/">by SmartBear</a> under the <a href="https://swagger.io/license/">the Apache 2.0 License</a>.
    </p>

    <p>
      This service uses the <a href="https://github.com/Leaflet/Leaflet">Leaflet JavaScript library</a> provided by <a href="https://agafonkin.com/">Volodymyr Agafonkin</a> under the <a href="https://github.com/Leaflet/Leaflet/blob/main/LICENSE">2-clause BSD License</a>.
    </p>
  </body>
</html>
