<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/leaflet/leaflet.draw.css">

    <script src="/leaflet/leaflet.js" defer></script>
    <script src="/leaflet/leaflet.draw.js" defer ></script>
    <script src="/dataset.js" defer ></script>

    <title>umwelt.info: Dataset {{ id }} ({{ source }})</title>
  </head>

  <body>

    <div id="about-this-service">
      <a href="/swagger-ui/">API</a>
      <a href="/source.html">src</a>
    </div>

    <h1><a href="{{ dataset.source_url }}">{{ dataset.title }}</a></h1>

    {% if let Some(description) = dataset.description %} <p>Description: {{ description }}</p> {% endif %}

    {% if let Some(global_identifier) = dataset.global_identifier %}

    <p>Global identifier: <pre>{{ "{:#?}"|format(global_identifier) }}</pre></p>

    {% endif %}

    <details>
      <summary>Types:</summary>
      {% for type in dataset.types %}
        <pre>{{ "{:#?}"|format(type) }}</pre>
      {% endfor %}
    </details>

    {% if let Some(comment) = dataset.comment %} <p>Comment: {{ comment }}</p> {% endif %}

    {% if let Some(origin) = dataset.origins.first() %} <p>Origin: <a href="/origin{{ origin }}">{{ origin }}</a></p> {% endif %}

    {% if !dataset.tags.is_empty() %}

    <p>Tags:

    {% for tag in dataset.tags %}
      {% if let Some(url) = tag.url() %}
        <a href="{{ url }}">{{ tag }}</a>
      {% else %}
        {{ tag }}
      {% endif %}
      <a href="/search?query=tags%3A&quot;{{ tag }}&quot;">?</a>
    {% endfor %}

    </p>

    {% endif %}

    {% if !dataset.regions.is_empty() %}
    
    <p>
      Region:
      {% for region in dataset.regions %}
        {% if let Some(region_url) = region.url() %} <a href="{{ region_url }}">{{ region }}</a> {% else %} {{ region }} {% endif %}
      {% endfor %}
    </p>

    {% endif %}

    {% if !dataset.bounding_boxes.is_empty() %}

    <p>
      Bounding boxes:
      {% for bounding_box in dataset.bounding_boxes %}
        {{ bounding_box.min().x }}° .. {{ bounding_box.max().x }}° x {{ bounding_box.min().y }}° .. {{ bounding_box.max().y }}°
      {% endfor %}
    </p>

    <div id="bounding_boxes">
      <script type="application/json">
        {{ dataset.bounding_boxes|json|safe }}
      </script>
    </div>

    {% endif %}

    <p>License: {% if let Some(license_url) = dataset.license.url() %} <a href="{{ license_url }}">{{ dataset.license }}</a> {% else %} {{ dataset.license }} {% endif %}</p>

    {% if dataset.mandatory_registration %}

    <a href="/mandatory-registration.html">Data access requires registration: click here for further information</a>

    {% endif %}

    <p>Language: {{ dataset.language }} </p>

    {% if !dataset.organisations.is_empty() %}
    
    <h4>Organisations</h4>
    
    <ul>
      
      {% for organisation in dataset.organisations %}
      
      <li>
        {% match organisation %}
          {% when Organisation::Other { name, role, websites } %}
            {{ name }} ({{ role }})
            {% for (index, website) in websites.iter().enumerate() %}
              <a href="{{ website }}">[{{ index + 1 }}]</a>
            {% endfor %}
          {% when Organisation::WikiData { identifier, role } %}
            {% let key = organisation.key() %}
            <a href="{{ key.url().unwrap() }}">{{ key }} ({{ role }})</a>
        {% endmatch %}
      </li>
      
      {% endfor %}
      
    </ul>

    {% endif %}

    {% if !dataset.persons.is_empty() %}
    
    <h4>Persons</h4>
    
    <ul>
      
      {% for person in dataset.persons %}
      
      <li>
        {{ person.name }} ({{ person.role }})
        {% for (index, (scheme, address)) in person.hyperlinks().enumerate() %}
          <a href="{{ scheme }}{{ address }}">[{{ index + 1 }}]</a>
        {% endfor %}
      </li>
      
      {% endfor %}
      
    </ul>

    {% endif %}

    {% if let Some(issued) = dataset.issued %} <p>Issued: {{ issued }}</p> {% endif %}
    
    {% if let Some(modified) = dataset.modified %} <p>Modified: {{ modified }}</p> {% endif %}

    {% if !dataset.time_ranges.is_empty() %}
    
    <p>
      Time ranges:
      {% for TimeRange { from, until } in dataset.time_ranges %}
        {{ from }} - {{ until }}
      {% endfor %}
    </p>
    
    {% endif %}

    {% if !dataset.alternatives.is_empty() %}

    <h3>Alternatives</h3>

    <ul>

      {% for alternative in dataset.alternatives %}

      <li>
        {% match alternative %}
          {% when Alternative::Source with { source, title, url } %}
            Title: {{ title }} ({{ source }})
          {% when Alternative::Language with { language, url } %}
            Language: {{ language }}
        {% endmatch %}

        <a href="{{ alternative.url() }}">{{ alternative.url() }}</a>
      </li>

      {% endfor %}

    </ul>

    {% endif %}
    
    {% if !dataset.resources.is_empty()  %}
    
    <h3>Resources</h3>
    
    <ul>
      
      {% for resource in dataset.resources %}

      <li>
        {% if let Some(description) = resource.description %}
        
        <p>{{ description }}</p>
        
        {% endif %}
        
        {% if resource.primary_content %} <b> {% endif %} <a href="{{ resource.url }}">{{ resource.url }}</a> ({{ resource.type }}) {% if !resource.direct_link %} &ast; {% endif %} {% if resource.primary_content %} </b> {% endif %}
      </li>

      {% endfor %}
      
    </ul>

    {% endif %}

    <h3>Status</h3>

    <ul>
      {{ dataset.status }}
    </ul>

    <h3>Quality score</h3>

    <ul>
      {% let quality = dataset.quality.borrow() %}

      <li>Overall: {{ "{:0.2}"|format(quality.score) }}</li>

      <li>
        <details>
          <summary>Findability: {{ "{:0.2}"|format(quality.findability.score) }}</summary>

          <ul>
            {% let findability = quality.findability.borrow() %}

            <li>Title: {{ "{:0.2}"|format(findability.title) }}</li>
            <li>Description: {{ "{:0.2}"|format(findability.description) }}</li>
            <li>Identifier: {{ findability.identifier }}</li>
            <li>Keywords: {{ "{:0.2}"|format(findability.keywords) }}</li>
            <li>Spatial: {{ findability.spatial }} ({{ "{:0.2}"|format(findability.spatial_score) }})</li>
            <li>Temporal: {{ findability.temporal }}</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Accessibility: {{ "{:0.2}"|format(quality.accessibility.score) }}</summary>

          <ul>
            {% let accessibility = quality.accessibility.borrow() %}

            <li>Landing page: {{ accessibility.landing_page }} ({{ "{:0.2}"|format(accessibility.landing_page_score) }})</li>
            <li>Direct access: {{ accessibility.direct_access }}</li>
            <li>Publicly accessible: {{ accessibility.publicly_accessible }}</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Interoperability: {{ "{:0.2}"|format(quality.interoperability.score) }}</summary>

          <ul>
            {% let interoperability = quality.interoperability.borrow() %}

            <li>Open file format: {{ interoperability.open_file_format }}</li>
            <li>Media type: {{ interoperability.media_type }}</li>
            <li>Machine-readable metadata: {{ interoperability.machine_readable_metadata }}</li>
            <li>Machine-readable data: {{ interoperability.machine_readable_data }}</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Reusability: {{ "{:0.2}"|format(quality.reusability.score) }}</summary>

          <ul>
            {% let reusability = quality.reusability.borrow() %}

            <li>License: {{ reusability.license }} ({{ "{:0.2}"|format(reusability.license_score) }})</li>
            <li>Contact info: {{ reusability.contact_info }}</li>
            <li>Publisher info: {{ reusability.publisher_info }}</li>
          </ul>
        </details>
      </li>

    </ul>

    <p>Accessed {{ accesses }} times.</p>

  </body>
</html>
