<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/style.css">

    <title>umwelt.info: Origin {{ id }}</title>
  </head>

  <body>

    <div id="about-this-service">
      <a href="/swagger-ui/">API</a>
      <a href="/source.html">src</a>
    </div>

    <h1>{{ origin.name }} - {{ id }}</h1>

    <p>Description: {{ origin.description }}</p>

    {% if let Some(about_url) = origin.about_url %} <p>About URL: <a href="{{ about_url }}">{{ about_url }}</a></p> {% endif %}

    <p>Contact URL: <a href="{{ origin.contact_url }}"</a>{{ origin.contact_url }}</a></p>

    {% if let Some(email) = origin.email %} <p>Electronic mail: <a href="mailto:{{ email }}"</a>{{ email }}</a></p> {% endif %}

  </body>
</html>
