<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Accesses</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>Source name</th><th>Accesses</th>
        </tr>
      </thead>

      <tbody>
        {% for (source_name, accesses) in accesses %}

        <tr>
          <td>{{ source_name }}</td><td>{{ accesses }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Count</b></td><td><b>{{ accesses.len() }}</b></td>
        </tr>

        <tr>
          <td><b>Sum</b></td><td><b>{{ sum }}</b></td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Source name</th><th>Dataset ID</th><th>Accesses</th>
        </tr>
      </thead>

      <tbody>
        {% for (source_name, dataset_id, accesses) in top_10 %}

        <tr>
          <td>{{ source_name }}</td><td><a href="/dataset/{{ source_name }}/{{ dataset_id }}">{{ dataset_id }}</a></td><td>{{ accesses }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
