<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Harvests</title>
  </head>

  <body>
    {% if let Some((start, duration)) = last_harvest %} <p><b>Last harvest:</b> Start: {{ start|system_time }} Duration: {{ duration|duration }}</p> {% endif %}

    <table>
      <thead>
        <tr>
          <th>Source name</th><th>Deleted</th><th>Age</th><th>Duration</th><th>Count</th><th>Transmitted</th><th>Errors</th>
        </tr>
      </thead>

      <tbody>
        {% for (source_name, harvest) in harvests %}

        <tr>
          <td>{{ source_name }}</td><td>{{ harvest.deleted }}</td><td>{{ harvest.age|duration }}</td><td>{{ harvest.duration|duration }}</td><td>{{ harvest.count }}</td><td>{{ harvest.transmitted }}</td><td>{{ harvest.failed }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Sum</b></td><td><b>{{ sum_deleted }}</b></td><td></td><td></td><td><b>{{ sum_count }}</b></td><td><b>{{ sum_transmitted }}</b></td><td><b>{{ sum_failed }}</b></td>
        </tr>

      </tbody>
    </table>

    {% if !failed_harvests.is_empty() %}

    <p><b>Failed:</b> {{ failed_harvests|join(", ") }}</p>

    {% endif %}

    <table>
      <tbody>
        <tr><th>Datasets</th><td>{{ datasets }}</td></tr>
        <tr><th>Sources</th><td>{{ sources }}</td></tr>
        <tr><th>Providers</th><td>{{ providers }}</td></tr>
      </tbody>
    </table>
  </body>
</html>
