<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Harvested tags</title>
  </head>

  <body>
    <table>
      <thead>
        <th>Tag</th><th>Datasets</th>
      </thead>

      <tbody>
        {% for (tag, count) in tags %}

        <tr>
          <td>{% if let Some(url) = tag.url() %} <a href="{{ url }}">{{ tag }}</a> {% else %} {{ tag }} {% endif %}</td><td>{{ count }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Other</b></td><td><b>{{ sum_other }} ({{ cnt_other }})</b></td>
        </tr>

      </tbody>
    </table>
  </body>
</html>
