<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Licenses</title>
  </head>

  <body>

    <details>
      <summary>Licenses</summary>

      <table>
        <thead>
          <th>License</th><th>Count</th>
        </thead>

        <tbody>
          {% for (license, count) in licenses %}

          <tr>
            <td>{% if let Some(url) = license.url() %} <a href="{{ url }}">{{ license }}</a> {% else %} {{ license }} {% endif %}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Licenses by source</summary>

      <table>
        <thead>
          <th>Source</th><th>Unknown</th>
        </thead>

        <tbody>
          {% for (source, unknown) in licenses_by_source %}

          <tr>
            <td>{{ source }}</td><td>{{ unknown|percentage }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

  </body>
</html>
