<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Organisations</title>
  </head>

  <body>
    <table>
      <thead>
        <th>Organisation</th><th>Count</th>
      </thead>

      <tbody>
        {% for (organisation, count) in organisations %}

        <tr>
          <td>{% if let Some(url) = organisation.url() %} <a href="{{ url }}">{{ organisation }}</a> {% else %} {{ organisation }} {% endif %}</td><td>{{ count }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Other</b></td><td><b>{{ sum_other }} ({{ cnt_other }})</b></td>
        </tr>

      </tbody>
    </table>
  </body>
</html>
