<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Resource types</title>
  </head>

  <body>

    <details>
      <summary>Resource types</summary>

      <table>
        <thead>
          <th>Resource type</th><th>Count</th>
        </thead>

        <tbody>
          {% for (resource_type, count) in resource_types %}

          <tr>
            <td> {{ resource_type }} </td><td>{{ count }}</td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </details>
    
    <details>
      <summary>Resource types by source</summary>

      <table>
        <thead>
          <th>Source</th><th>Unknown</th>
        </thead>

        <tbody>
          {% for (source, unknown) in resource_types_by_source %}

          <tr>
            <td>{{ source }}</td><td>{{ unknown|percentage }}</td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </details>

  </body>
</html>
